alias update="sudo apt-get update -y && sudo apt-get upgrade -y"
alias gadd="git add ."
alias gcommit="git commit -am"
alias gpush="git push"
alias gbranch="git branch"
alias gswitch="git switch"
alias gstatus="git status"
alias nstart="npm start"
alias ninst="npm install"
alias cls="clear"
alias rconfig="source ~/.zshrc"
