alias update="sudo apt-get update -y && sudo apt-get upgrade -y"
alias cls="clear"
alias rconfig="source ~/.zshrc"
alias sinst="snap install"
alias add="git add ."
alias commit="git commit -am"
alias push="git push"
alias pull="git pull"
alias branch="git branch"
alias switch="git switch"
alias status="git status"
alias merge="git merge"
alias nstart="npm start"
alias ninst="npm install"
