[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "DraculaZSH"]
	path = DraculaZSH
	url = https://github.com/dracula/zsh.git
[submodule "DraculaGnomeTerminal"]
	path = DraculaGnomeTerminal
	url = https://github.com/dracula/gnome-terminal
[submodule "DraculaGnome"]
	path = DraculaGnome
	url = https://github.com/dracula/gtk.git
[submodule "DraculaTelegram"]
	path = DraculaTelegram
	url = https://github.com/dracula/telegram.git
[submodule "DraculaMailspring"]
	path = DraculaMailspring
	url = https://github.com/dracula/mailspring.git
[submodule "DraculaWallpapers"]
	path = DraculaWallpapers
	url = https://github.com/dracula/wallpaper.git
[submodule "gedit"]
	path = gedit
	url = https://github.com/dracula/gedit.git
[submodule "DraculaGedit"]
	path = DraculaGedit
	url = https://github.com/dracula/gedit.git
[submodule "qBittorrentDarktheme"]
	path = qBittorrentDarktheme
	url = https://github.com/maboroshin/qBittorrentDarktheme.git
[submodule "UnofficialDraculaQBittorent"]
	path = UnofficialDraculaQBittorent
	url = https://github.com/maboroshin/qBittorrentDarktheme.git
[submodule "QogirIcons"]
	path = QogirIcons
	url = https://github.com/vinceliuice/Qogir-icon-theme.git
[submodule "DraculaJoplin"]
	path = DraculaJoplin
	url = https://github.com/dracula/template.git
